header {
    display: flex;
    flex-direction: row;
    border-bottom: 0.15rem solid #808080;
    align-items: center;
    background-color: #F7deff;

}
.logo {
    position: relative;
    left: 50%;
    transform: translateX(-85%);
    margin: 0;
}
h2 {
    font-style: italic;
    font-size: large;
    font-weight: bolder;
    margin-top:5%;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5.5rem;
}
.match {
    justify-content: center;
    padding: 1rem; 
    border: 0.1rem solid black;
    margin: 10%;
    background-color: #F7deff;
    border-color:#808080;
}

.usuario {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    border: 0.1rem solid #808080;
}
.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6.5rem;
}
.section2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1rem;
    margin-bottom: 15rem;
}
.linha {
    display: flex;
    flex-direction: row;
}
body {
    background-color: #f2f2f2;;
}
.x {
    align-self: center;
    background-color: #F7deff;
    border-color:#808080;
}
input {
    transform: scale(2);
}
a{
    text-decoration: none;
}