header {
    display: flex;
    flex-direction: row;
    border-bottom: 0.2rem solid black;
    align-items: center;
}
.logo {
    position: relative;
    left: 50%;
    transform: translateX(-85%);
    margin: 0;
}
section {
    display: flex;
    flex-direction: row;
    border-bottom: 0.2rem solid black;
    align-items: center;
}
h2{ 
    font-size: large;
    font-weight: bolder;
    position: relative;
    left: 40%;
    transform: translateX(-50%);
    margin: 0;
}
.usuario {
    padding:0.1rem;
    margin:0.1rem;
    height:5%;
    width: 10%;
}
body {
    background-color: burlywood;
}
nav {
    display: flex;
    flex-direction: row;
    padding: 0.1rem;
    margin: 3rem;
    position:relative;
    top:25rem;
}
.ok {
    align-self: center;
}
div {
    justify-content: center;
    padding: 1rem; 
    border: 0.1rem solid black;
    margin-left: 10%;
    margin-right: 10%;
    border-radius:10%;
    background-color: rgb(78, 216, 78);
}
h3{
    font-size: large;
    font-weight: bolder;
    position: relative;
    left: 50%;
    transform: translateX(-18%);
    margin: 0; 
}
.padd {
    padding: 2rem;
}
.linha {
    display: flex;
    flex-direction: row;
}