header {
    display: flex;
    flex-direction: row;
    border-bottom: 0.2rem solid black;
    align-items: center;
    background-color: #F7deff;
    border-bottom: 0.15rem solid #808080;
}
.logo {
    position: relative;
    left: 50%;
    transform: translateX(-85%);
    margin: 0;
}

.section1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f2f2f2;
}
h2{ 
    font-size: large;
    font-weight: bolder;
    position: relative;
    left: 40%;
    transform: translateX(-50%);
    margin: 0;
}
.usuario {
    padding:0.1rem;
    margin:0.1rem;
    height:5%;
    width: 10%;
}
body {
    background-color: #f2f2f2;
}
.section2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem; 
    border: 0.1rem solid black;
    margin-left: 1.4rem;
    margin-right: 1.4rem;
    border-radius:1.4rem;
    background-color: #F7deff;
}
h3{
    font-size: large;
    font-weight: bolder;
    position: relative;
}
.section3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1rem; 
    border: 0.1rem solid black;
    margin-top: 20%;
    margin-bottom: 15%;
    margin-left: 28%;
    background-color: #f2f2f2;
}
.section4 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1rem; 
    border: 0.1rem solid black;
    margin-bottom: 15%;
    margin-right: 60%;
    background-color: #f2f2f2;
}
.botao-digitar {
    margin-top: 0.1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    padding: 0.1rem;
    justify-content: center;
}
.enviar {
    align-self: center;
}
.padd {
    padding: 2rem;
}
.linha {
    margin-top: 12.5rem;
    display: flex;
    flex-direction: row;
}
.input {
    margin: 3rem;
    transform: scale(2);
}
.x {
    background-color: #f7deff;
}
a{
    text-decoration: none;
}