header{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #F7deff;
    border-bottom: 0.15rem solid #808080;
}

.logo{
    align-self: center;
    position: relative;
    left: 50%;
    transform: translateX(-95%);
}

.check{
    justify-content: center;
    margin: 5%;
    padding: 10%;
}

body {
    background-color: #f2f2f2;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    margin-top: 3rem;
}

h2{
    margin-top: 2rem;
    font-style: italic;
    font-size: x-large;
    font-weight: bolder;
    display: flex;
    align-self: center;
    border: 0.15rem solid #808080;
    padding: 2.5%;

}

h3{
    margin-top: 2rem;
    font-style: italic;
    font-size: x-large;
    font-weight: bolder;
    display: flex;
    align-self: center;


}

input {
    align-self: center;
    margin: 5rem;
    transform: scale(2);
    background-color: #F7deff;

}

form {
    align-self: center;
}