header{
    display: flex;
    flex-direction: row;
    border-bottom: 0.2rem solid black;
    align-items: center;
}

.logo{
    align-self: center;
    position: relative;
    left: 50%;
    transform: translateX(-95%);
    margin: 0;
}

.favorite{
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10%;
    margin: 5%;
    width: 5rem;
    position: relative;
    left: 12rem;
    top: 8rem;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    margin-top: 3rem;
}

body {
    background-color: burlywood;
}

h2{
    margin-top: 2rem;
    font-style: italic;
    font-size: x-large;
    font-weight: bolder;
    display: flex;
    align-self: center;
    padding: 5%;

}


.add-favoritos{
    font-style: italic;
    font-size: x-large;
    font-weight: bolder;
    font-size: 1.5rem;
    position: relative;
    top: 15rem;
    left: 1rem;
}

form{
    align-self: center;
    margin-top: 30%;

}

input {
    align-self: center;
    margin: 5rem;
    transform: scale(2);
}

/*shows the stars side by side, centered, and in reverse order than the HMTL*/
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
  
  /*hides the radio buttons*/
  .rating > input{ display:none;}
  
  /*style the empty stars, sets position:relative as base for pseudo-elements*/
  .rating > label {
    position: relative;
    width: 1.1em;
    font-size: 15vw;
    color: #FFD700;
    cursor: pointer;
  }
  
  /* sets filled star pseudo-elements */
  .rating > label::before{ 
    content: "\2605";
    position: absolute;
    opacity: 0;
  }
  /*overlays a filled start character to the hovered element and all previous siblings*/
  .rating > label:hover:before,
  .rating > label:hover ~ label:before {
    opacity: 1 !important;
  }
  
  /*overlays a filled start character on the selected element and all previous siblings*/
  .rating > input:checked ~ label:before{
    opacity:1;
  }
  
  /*when an element is selected and pointer re-enters the rating container, selected rate and siblings get semi transparent, as reminder of current selection*/
  .rating:hover > input:checked ~ label:before{ opacity: 0.4; }
  
  


