header{
    display: flex;
    flex-direction: row;
    border-bottom: 0.2rem solid grey;
    align-items: center;
    background-color: #f7deff;
}

.logo{
    align-self: center;
    position: relative;
    left: 50%;
    transform: translateX(-95%);
  
}

.favorite{
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10%;
    margin: 5%;
    width: 5rem;
    position: relative;
    left: 12rem;
    top: 8rem;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    margin-top: 3rem;
}

body {
    background-color: #f2f2f2;
    font-family: 'Playfair Display', serif;
}

h2{
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-style: italic;
    font-size: 1.75rem;
    font-weight: bolder;
    display: flex;
    align-self: center;
    padding: 5%;
    border: solid #808080;

}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 7rem;
    
}


.add-favoritos{
    font-style: italic;
    font-size: x-large;
    font-weight: bolder;
    font-size: 1.75rem;
    position: relative;
}


form{
    align-self: center;
    margin-top: 30%;

}

input {
    align-self: center;
    margin: 5rem;
    transform: scale(2.5);
    background-color: #f7deff;
    border-color: #808080;
    font-family: 'Playfair Display', serif;
}
a{
    text-decoration: none;
}

/*shows the stars side by side, centered, and in reverse order than the HMTL*/
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
  
  /*hides the radio buttons*/
  .rating > input{ display:none;}
  
  /*style the empty stars, sets position:relative as base for pseudo-elements*/
  .rating > label {
    position: relative;
    width: 1.1em;
    font-size: 15vw;
    color: #443FCC;
    cursor: pointer;
  }
  
  /* sets filled star pseudo-elements */
  .rating > label::before{ 
    content: "\2605";
    position: absolute;
    opacity: 0;
  }
  /*overlays a filled start character to the hovered element and all previous siblings*/
  .rating > label:hover:before,
  .rating > label:hover ~ label:before {
    opacity: 1 !important;
  }
  
  /*overlays a filled start character on the selected element and all previous siblings*/
  .rating > input:checked ~ label:before{
    opacity:1;
  }
  
  /*when an element is selected and pointer re-enters the rating container, selected rate and siblings get semi transparent, as reminder of current selection*/
  .rating:hover > input:checked ~ label:before{ opacity: 0.4; }
  
.icon_saved {
    position: relative;
    width: 30px;
    height: 35px;
    background-color:#808080 ;
    display: inline-block;
    cursor: pointer;
    border-bottom: 0.1rem solid #F2F2F2;
}

.icon_saved:after {
    content: '';
    height: 0;
    width: 0;
    display: block;
    border: 9px transparent solid;
    border-top-width: 0;
    border-bottom-color: #F7DEFF;
    position: absolute;
    bottom: 0;
    left: 1px;
}

.icon_saved:hover,
.icon_saved.active {
    background-color: #c688d9;
}

