header{
    display: flex;
    flex-direction: row;
    border-bottom: 0.2rem solid black;
    align-items: center;
}

.logo{
    align-self: center;
    position: relative;
    left: 50%;
    transform: translateX(-100%);
    
}
body{
    background-color: burlywood;
}

h2{
    margin: 3rem;
    font-style: italic;
    font-size: 2.5rem;
    font-weight: bolder;
    display: flex;
    align-self: center;
    border: 0.1rem solid black;
    padding:1.5rem;
    padding-left: 3rem;
}

.finalizar {
    display: flex;
    flex-direction: row;
    padding: 0.1rem;
    margin-left: 2.5rem;
    position:relative;
    top:5rem;
    align-self: center;
    margin-left: 12rem;
    transform: scale(1.8);
}

.padd {
    padding: 2rem;
    height: 2.5rem;
}

.linha {
    display: flex;
    flex-direction: row;
}


.digite-aqui{
    margin-top: 23rem;
    margin-left: 3rem;
}