header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #F7deff;
}
.logo {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}
main {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.linha {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
}
form {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
}
h2 {
    font-size: x-large;
}
.centro {
    justify-content: center;
    border-bottom: 0.1rem solid #808080;
}

body {
    background-color: #f2f2f2;
    font-family: 'Playfair Display', serif;
}
.teste {
    justify-content:flex-start;
}
.negrito {
    font-weight: bold;
}
.coluna { 
    display: flex;
    flex-direction: column;
}
.linha {
    display: flex;
    flex-direction: row;
}
.space-between {
    justify-content: space-between;
}
li {
    padding-top: 1rem;
    font-size: larger;
}
.padd {
    padding: 0.5rem;
    border-radius: 20%;
}
footer {
    display: flex;
    flex-direction: row;
    border-top: 0.2rem solid grey;
    justify-content: space-around;
    background-color: #F7deff;
    padding: 0.5rem;
}
.notificacao {
    position: relative;
    left: 85%;
    bottom: -10%;
    height: 20px;
    width: 20px;
    background-color: red;
    border-radius: 50%;

}
.coluna {
    display: flex;
    flex-direction: column;

}
.tamanho {
    height: 70px;
    width: 70px;
}
a {
    text-decoration: none;
    color: #443Fcc;
}
.borda {
    border-bottom: 0.05rem solid grey;
}

input {
    font-family: 'Playfair Display', serif;
}